<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>virginity</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="Keywords" content="Kluczowe">
	<meta name="Description" content="Opis.">

	<link rel="stylesheet" href="/main.css" type="text/css" />
</head>
<body>
	<div id="logo"></div>
	<div id="menu">
		<a href="/">gowna</a>
		<a href="/lista_ewy">listA</a>
		<a href="/listy_ewy">listY</a>
		<a href="/dodaj_do_listy">+dodaj DO listy+</a>
		<a href="/dodaj_liste">+dodaj LISTE+</a>
	</div>

	<div id="tresc">
		<h2>dziewictwo ver 1.1</h2>
		<p>please, be gentle</p>     
		{% block body %}
		{% endblock %}			
	</div>

	<div id="stopka">
		<hr>
		<hr>
		<span>© Stopka</span>
	</div>

</body>