<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>virginity</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="Keywords" content="Kluczowe">
	<meta name="Description" content="Opis.">

	<link rel="stylesheet" href="/main.css" type="text/css" />
</head>
<body>
	<div id="logo"></div>
	<div id="menu">
		<a href="http://127.0.0.1:8095/lista_ewy">cipka</a>
		<a href="#">piczka</a>
		<a href="#">kuciapka</a>
		<a href="#">pizda</a>
	</div>

	<div id="tresc">
		<h2>dziewictwo ver 1.1</h2>
		<p>please, be gentle</p>     
		{% block body %}
		{% endblock %}			
	</div>

	<div id="stopka">
		<hr>
		<hr>
		<span>© Stopka</span>
	</div>

</body>